---
unix:
  children:
    macos:
      hosts:
        Wills-MBP:
          ansible_connection: local

    linux:
      children:
        physical_hosts:
        virtual_machines:

    physical_hosts:
      hosts:
        sbc1:
        nas1:
        kvm1:
        kvm2:

    virtual_machines:
      children:
        vm_pets:
        vm_dads:

    vm_pets:
      hosts:
        vdb1:
        vpod:
        run1:
        run2:
        dns1:
        dns2:

    vm_dads:
      hosts:
        vws1:

    seaweedfs:
      hosts:
        kvm1:
        kvm2:
        nas1:

    home:
      children:
        physical_hosts:
        virtual_machines:
