[fw1]
    # for specific configuration on the router level, overload the defaults here
    hostname = 10.10.0.1

[default]
    connections = True
    health = True
    capsman = False
    installed_packages = True
    ipv6_pool = True
    dns = True
    ipv6_neighbor = True
    lte = False
    eoip = False
    check_for_updates = False
    switch_port = True
    routing_stats = True
    ssl_certificate_verify = False
    poe = True
    neighbor = True
    bgp = False
    enabled = True
    firewall = True
    interface = True
    ipv6_route = True
    use_ssl = False
    dhcp_lease = True
    dhcp = False
    plaintext_login = True
    wireless_clients = False
    wireless = False
    ipsec = True
    bfd = False
    gre = False
    user = True
    ipv6_firewall = True
    pool = True
    route = True
    netwatch = True
    connection_stats = True
    kid_control_assigned = False
    no_ssl_certificate = False
    queue = True
    ipip = False
    public_ip = True
    use_comments_over_names = True
    capsman_clients = False
    monitor = True
    certificate = False
    kid_control_dynamic = False
    hostname = 10.10.0.1
    username = mktxp
    password = {{ mktxp_pass }}
    credentials_file = ""
    ssl_ca_file = ""
    remote_dhcp_entry = None
    remote_capsman_entry = None
    port = 8728
