---
- name: Run host setup tasks
  hosts: linux
  gather_facts: true
  pre_tasks:
    - name: Wait for system to be ready
      ansible.builtin.wait_for_connection:
        timeout: 300
      tags: always

  tasks:
    - name: Update hosts
      ansible.builtin.include_role:
        name: update_hosts
        apply:
          become: true
          tags:
            - update
      tags:
        - update

    - name: Run standard setup tasks
      when: ansible_os_family == 'Debian'
      ansible.builtin.include_role:
        name: setup_host
        apply:
          become: true
          tags:
            - setup
            - all
      tags:
        - setup
        - all

    - name: Setup NTP
      when: req_ntp | default(false)
      tags: ["time"]
      ansible.builtin.include_role:
        name: geerlingguy.ntp
        apply:
          become: true
          tags:
            - time
      vars:
        ntp_enabled: true
        ntp_timezone: "Europe/London"
        ntp_manage_config: true
        ntp_servers:
          - "10.10.0.1"

    - name: Get service facts
      ansible.builtin.service_facts:
      tags:
        - setup
        - alloy
        - docker
        - podman

    - name: Setup Alloy monitoring
      when: req_monitor | default(false)
      tags:
        - alloy
      block:
        - name: Install and configure Alloy
          ansible.builtin.include_role:
            name: grafana.grafana.alloy
            apply:
              become: true
          vars:
            alloy_env_file_vars:
              CUSTOM_ARGS: "--disable-reporting"

        - name: Install smartctl exporter
          when: "'physical_hosts' in group_names"
          ansible.builtin.include_role:
            name: prometheus.prometheus.smartctl_exporter
            apply:
              become: true

    - name: Setup NUT client
      when: req_nut | default(false)
      tags:
        - nut
      block:
        - name: Lookup NUT secret
          ansible.builtin.set_fact:
            nut_client_password: "{{ lookup('ripplefcl.bwscache.secret', 'nut_pass').value }}"
          no_log: true

        - name: Install NUT client
          ansible.builtin.include_role:
            name: geerlingguy.nut_client
            apply:
              become: true
              tags:
                - nut
              no_log: true

    - name: Setup podman pods
      when: req_podman | default(false)
      ansible.builtin.include_role:
        name: podman
        apply:
          become: false
          tags:
            - podman
            - pods
      tags:
        - podman
        - pods

    - name: Setup docker
      when: req_docker | default(false)
      ansible.builtin.include_role:
        name: geerlingguy.docker
        apply:
          become: true
          tags:
            - docker
      tags:
        - docker

    - name: Setup docker containers
      when: user_pods is defined and req_docker | default(false)
      ansible.builtin.include_role:
        name: docker
        apply:
          become: false
          tags:
            - docker
            - pods
      tags:
        - docker
        - pods

    - name: Setup restic
      when: req_restic | default(false)
      ansible.builtin.include_role:
        name: roles-ansible.restic
        apply:
          become: true
          tags:
            - restic
      tags:
        - restic
