---
networks:
  - directory: test
    node_id: {{ meshmon_node_id }}
    config_type: git
    git_repo: https://github.com/Overengineers-Anonymous/labbers-meshmon-config.git
  - directory: meshmon-public-network
    node_id: {{ meshmon_node_id }}
    config_type: git
    git_repo: https://github.com/rippleFCL/meshmon-public-network.git
