#cloud-config
"ethernets":
  "enp5s0":
    "match":
      "macaddress": "${vlan1_mac}"
    "set-name": "eth0"
    "accept-ra": true
    "dhcp4": true
    "dhcp4-overrides":
      "hostname": "${name}"
      "send-hostname": true
      "use-dns": true
      "use-domains": true
      "use-ntp": true
      "use-routes": true
    "dhcp6": false
"version": 2
